<header>
  <div class="container">
    <div>
      <h1>CP Fisioterapia & Osteopatia</h1>
    </div>
    <div>
      <img src="assets/logo-min.jpg" alt="Immagine Logo" />
    </div>
    <nav>
      <a href="#home" (click)="scrollToSection($event, 'home')">Home</a>
      <a href="#chi-siamo" (click)="scrollToSection($event, 'chi-siamo')"
        >Chi Siamo</a
      >
      <a href="#servizi" (click)="scrollToSection($event, 'servizi')"
        >Servizi</a
      >
      <a href="#contatti" (click)="scrollToSection($event, 'contatti')"
        >Contattaci</a
      >
    </nav>
  </div>
</header>

<main>
  <div class="hero-container" #slider>
    <div class="hero-item" *ngFor="let image of images">
      <img [src]="image" alt="hero Image" />
    </div>
  </div>

  <section id="chi-siamo" class="bg-blue">
    <div class="container">
      <article class="doctors-info">
        <div>
          <h2>Chi Siamo</h2>
          <p>
            Fondato da Edoardo Cesaritti e Leonardo Pastore, con un solido
            percorso accademico e professionale, il nostro studio offre un
            ambiente accogliente e professionale, frutto di anni di
            collaborazione in ambito fisioterapico. Siamo specializzati in
            riabilitazione sportiva, geriatrica, respiratoria e post chirurgica,
            avvalendoci di un’ampia gamma di terapie fisiche all'avanguardia.
            Grazie alla nostra esperienza nel trattamento di atleti e nella cura
            di pazienti di tutte le età, siamo pronti ad accompagnarvi nel
            vostro percorso di recupero e benessere. Il nostro approccio
            personalizzato e la passione per il nostro lavoro ci permettono di
            offrirvi le migliori soluzioni terapeutiche, sempre mirate al
            raggiungimento dei vostri obiettivi di salute.
          </p>
        </div>
        <div class="image-content">
          <img src="assets/MG_4486-min.jpg" alt="Dottori" />
        </div>
      </article>
    </div>
  </section>

  <section id="servizi">
    <div class="container">
      <h2>Servizi</h2>
      <article service-card-container>
        <div card *ngFor="let service of serviceList">
          <header>
            <figure>
              <img
                src="assets/{{ service.img }}"
                alt="{{ service.title }}"
                loading="lazy"
              />
            </figure>
          </header>
          <h3>{{ service.title }}</h3>
        </div>
      </article>
      <br />
      <article other-services>
        <h3>E altro...</h3>
        <ul>
          <li>Linfodrenaggio</li>
          <li>Kinesioteraping</li>
          <li>Riabilitazione Domiciliare</li>
          <li>Tens</li>
          <li>Elettrostimolazione</li>
          <li>Magnetoterapia</li>
          <li>Massggio Sportivo</li>
          <li>Mobilizzazione Passiva</li>
          <li>Esercizio Terapeutico</li>
        </ul>
      </article>
    </div>
  </section>

  <section id="contatti" class="bg-blue contacts">
    <article class="container">
      <div>
        <i class="bi bi-info-circle fs-2"></i>
        <hr />
        <h3>Appuntamento o Informazioni</h3>
        <div class="action-container">
          <i class="bi bi-telephone"></i>
          <p>Telefono: +39 3500932168</p>
        </div>
        <div class="action-container">
          <i class="bi bi-whatsapp"></i>
          <p>
            <a class="wa" href="https://wa.me/3500932168" target="_blank"
              >Scrivici su WhatsApp</a
            >
          </p>
        </div>
        <div class="action-container">
          <i class="bi bi-envelope"></i>
          <p>
            <a href="mailto:cpfisioterapia13@gmail.com"
              >cpfisioterapia13&#64;gmail.com</a
            >
          </p>
        </div>
      </div>
      <div>
        <i class="bi bi-geo-alt fs-2"></i>
        <hr />
        <h3>Dove Siamo</h3>
        <p>Indirizzo: Via Pier Vettori 13</p>
        <p>00151, Roma (RM)</p>
      </div>
      <div>
        <i class="bi bi-clock fs-2"></i>
        <hr />
        <h3>Orari di apertura</h3>
        <p>Lunedi - Venerdì: 08:00 - 20:00</p>
        <p>Sabato: 09:00 - 13:00</p>
      </div>
    </article>
  </section>
</main>

<footer>
  <div class="container">
    <figure>
      <img src="assets/logo.png" alt="" />
    </figure>
    <p>
      CP Fisioterapia & Osteopatia - Via Esempio, 123, 00151 Roma RM -
      &copy;Tutti i diritti riservati
    </p>
  </div>
</footer>

<button
  [ngClass]="{ visible: showBackToTop }"
  class="back-to-top"
  (click)="scrollToTop()"
  aria-label="Torna su"
>
  &uarr;
</button>
